body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1{
	color: red;
}

p span{
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

#t1{
	text-decoration: underline;
}

.rose{
		color: magenta;
}